* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* ROOT se aplica a todo el html*/
:root {
    /* declaro la variable naranja y además le asigno el valor #FF9600*/
    --naranja: #ff9600;
    --negro: #000000;
    --gris: #333333;
    --blanco: #FFFFFF;
}

body {
    background-color: var(--gris);
    background-image: url(images/pattern.jpg);
    font-family: arial, sans-serif;
}

.cabecera, .contenedor {
    max-width: 1000px;
    margin: 0 auto;
}

.cabecera {
    color: var(--naranja);
    display: flex;
    /* separamos los elementos en horizontal */
    justify-content: space-between;
    /* centramos en vertical los dos elementos */
    align-items: center;
    padding: 20px 0;
    font-size: 12px;
}

.contenedor {
    /* aplico la variable como color de fondo usando var() */
    background-color: var(--blanco);
}

.nav {
    background-color: var(--naranja);
    /* separo usando el nav así me llevo el margen a todas las páginas */
    margin-bottom: 30px;
}

.nav-lista {
    /* elimina los pintitos de la lista */
    list-style: none;
    background-color: var(--naranja);
    display: flex;
    margin-left: 20px;
    padding: 10px 0;
    text-align: center;
}

.nav-lista_item {
    padding:10px;
    
}

.nav a {
    display: block;
    color: var(--blanco);
    border-right: 1px solid var(--blanco);
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    background-color: yellow;
    text-decoration: underline;
    color: var(--naranja);
}

.slider{
    background-color: white;
    /* la imagen la centro como si fuera texto, pero siempre se aplica al elemento padre en este caso, .slider */
    text-align: center;
}

